@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf')  format('truetype');
  font-display: swap;
}
/* Globals */

* {
  transition: all 0.1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-size: 1.2em;
}

h3 {
  color: #426696;
  font-weight: 600;
  /* opacity: 0.8; */
}

p {
  font-weight: 500;
  font-size: 1em;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #212121, #606060);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user h2 {
  color: #426696;
}

.user img {
  width: 10vw;
  height: auto;
}

.glass {
  margin-top: 0.71vw;
  background: white;
  min-height: 80vh;
  width: 99%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  padding-top: 1em;
/*   flex: .8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
  color: #658ec6;
  text-decoration: none;
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  border-radius: 10px;
}

.dashboard a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.link h2 {
  padding: 0rem 2rem;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-envelope {
  color: #9c27b0;
}

.fa-whatsapp {
  color: #25d366;
}

.link svg {
  width: 2em;
}

.projects {
  flex: 2;
}

.projects h1 {
  margin: 3rem;
}

/* projects */
.cards {
  color: #658ec6;
  margin: 0.71vw 0;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 1%;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card a {
  width: 100%;
}

.card a img {
  width: 100%;
  height: auto;
}

.actions {
  width: 100%;
  display: flex;
}

.actions a svg {
  width: 1.5vw;
  margin-right: 1vw;
}

.actions a {
  display: block;
  color: #426696;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.skills {
  margin: 1vw auto 0;
  width: 70%;
}

.user svg {
  width: 2vw;
  margin: 0.5vw;
}

.card-info {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* margin: 1vw; */
}

.card-info p {
  margin: 0.4vw auto;
  width: 100%;
}

chip {
  background: #606060;
  border-radius: 20px;
  padding: 5px;
  font-size: 12px;
  margin: 1px 0;
  color: whitesmoke;
}

chip:hover {
  color: #000;
}

.hide {
  display: none !important;
}

  .links {
    display: flex;
  }

@media (max-width: 1000px) {
  .actions a svg {
    width: 3vw;
  }

  .glass {
    width: 98%;
  }

  .dashboard {
    padding: 1.5vw 0.5vw !important;
    justify-content: space-around;
    flex-direction: row;
  }

  .link {
    margin: 0;
    padding: 1vw;
  }

  .dashboard h1 {
    font-size: 1em;
  }

  .dashboard h2 {
    font-size: 1em;
  }



  .user img {
    display: none;
    height: auto;
  }

  .links h2 {
    display: none;
  }

  .glass {
    flex-direction: column;
  }

  .skills {
    display: none;
  }
}

@media (max-width: 600px) {
  .card {
    margin: 1em 0;
    width: 100%;
  }

  .actions a svg {
    width: 0.5vw;
  }
}
