* {
  transition: all 0.1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-size: 1.2em;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #212121, #606060);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user h2 {
  color: #426696;
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-envelope {
  color: #9c27b0;
}

.fa-whatsapp {
  color: #25d366;
}

.skills {
  margin: 0 auto;
  width: 70%;
}

svg {
  width: 2rem;
  margin: 0.2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}
