@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");

* {
  box-sizing: border-box;
  transition: all ease-in 0.2s;
}

body {
  background-color: lightcyan;
  font-family: "Poppins", sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

a:hover {
  opacity: 0.6;
}

header {
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 10px auto;
  margin-top: 20px;
  max-width: 1110px;
  padding: 10px;
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: 5px solid pink;
  border-bottom: 5px solid pink;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* header:hover {
  transform: scale(1.1);
} */

header h1 {
  font-weight: 800;
  margin: 0;
  font-size: 26px;
}

header p {
  font-size: 20px;
}

header .fa-linkedin {
  color: #0077b5;
}

header .fa-envelope {
  color: #9c27b0;
}

header .fa-github {
  color: #4267b2;
}

header .fa-facebook-square {
  color: #4267b2;
}

header .skills i {
  margin: 0 1px;
  font-size: 1.5em;
}

header .skills .fa-html5 {
  color: #e34f26;
}

header .skills .fa-css3-alt {
  color: #2965f1;
}

header .skills .fa-js-square {
  color: #f0db4f;
}

header .skills .fa-node {
  color: #6cc24a;
}

header .skills .fa-react {
  color: #00d8ff;
}

header .skills .fa-git-square {
  color: orangered;
}

header .skills .fa-sass {
  color: #cc6699;
}

header .skills .fa-vuejs {
  color: #42b883;
}

header .links {
  display: flex;
}

header .links i {
  margin: 0 2px;
  font-size: 20px;
}

header br {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
}

.box {
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  margin: 15px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:hover {
  transform: scale(1.1);
}

.box > a img {
  width: 350px;
  height: 180px;
}

.tags {
  justify-content: center;
  display: flex;
  color: whitesmoke;
  flex-wrap: wrap;
}

chip {
  cursor: pointer;
  background: gray;
  border-radius: 20px;
  padding: 5px;
  font-size: 10px;
  margin: 1px 0;
}

chip:hover {
  color: #444;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.box:nth-child(1n + 0):after {
  background-color: hsl(0, 78%, 62%);
}

.box:nth-child(1n + 0):before {
  background-color: hsl(0, 78%, 62%);
}

.box:nth-child(2n + 0):after {
  background-color: hsl(180, 62%, 55%);
}

.box:nth-child(2n + 0):before {
  background-color: hsl(180, 62%, 55%);
}

.box:nth-child(3n + 0):after {
  background-color: hsl(34, 97%, 64%);
}

.box:nth-child(3n + 0):before {
  background-color: hsl(34, 97%, 64%);
}

.box:nth-child(4n + 0):after {
  background-color: hsl(212, 86%, 64%);
}

.box:nth-child(4n + 0):before {
  background-color: hsl(212, 86%, 64%);
}

.box:nth-child(5n + 0):after {
  background-color: purple;
}

.box:nth-child(5n + 0):before {
  background-color: purple;
}

div div .actions a {
  padding: 5px 40px;
}

.box h2 {
  margin: 0;
}

.box p {
  font-size: 14px;
  margin: 15px 0 40px;
}

.box img {
  display: block;
  margin-left: auto;
}

div div .actions a:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #444;
  opacity: 1;
  border-radius: 5px;
}

div div .actions a:active {
  color: gray;
}

@media only screen and (max-width: 600px) {
  header img {
    display: none;
  }

  header br {
    display: block;
  }

  div div .actions a {
    padding: 5px 34px;
  }

  header {
    margin: 20px 15px 10px 15px;
  }

  header p{
    font-size: 10px;
  }
