* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

a:hover,
#toggle:hover {
  opacity: 0.6;
}

header {
  margin: 10px auto;
  width: 95vw;
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  animation-name: fadeInOpacity;
  animation-duration: 1s;
}

header h1 {
  font-weight: 800;
  margin: 0;
  font-size: 26px;
}

header p {
  font-size: 20px;
}

header .fa-linkedin {
  color: #0077b5;
}

header .fa-envelope {
  color: #9c27b0;
}

header .fa-whatsapp {
  color: #25d366;
}

header .fa-github {
  color: #4267b2;
}

header .fa-facebook-square {
  color: #4267b2;
}

header .skills svg {
  margin: 0 1px;
}

.iconify {
  font-size: 1.4em;
}

header .skills .fa-html5 {
  color: #e34f26;
}

header .skills .fa-css3-alt {
  color: #2965f1;
}

header .skills .fa-js {
  color: #f0db4f;
}

header .skills .fa-node {
  color: #6cc24a;
}

header .skills .fa-react {
  color: #00d8ff;
}

header .skills .fa-git-square {
  color: orangered;
}

header .skills .fa-sass {
  color: #cc6699;
}

header .skills .fa-vuejs {
  color: #42b883;
}

header .links {
  display: flex;
}

header .links svg {
  margin: 0 0.2vw;
}

header svg {
  width: 1.5vw;
  height: 1.5vw;
}

header br {
  display: none;
}

header img {
  animation-name: fadeInOpacity;
  animation-duration: 1s;
  transition: 0.5s;
  width: 11.4vw;
  height: 11.4vw;
}

header img:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90vw;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  overflow: hidden;
  margin: 15px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-name: fadeInOpacity;
  animation-duration: 1s;
}

main {
  text-align: center;
}

#show {
  display: none;
  padding: 2px;
  cursor: pointer;
  color: rebeccapurple;
  border: 1px rebeccapurple solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

#show:hover {
  background-color: rebeccapurple;
  color: white;
}

.hide {
  display: none;
}

.box > a img {
  width: 100%;
  height: auto;
}

.tags {
  justify-content: center;
  display: flex;
  color: whitesmoke;
  flex-wrap: wrap;
}

chip {
  background: #606060;
  border-radius: 20px;
  padding: 5px;
  font-size: 12px;
  margin: 1px 0;
}

chip:hover {
  color: #000;
}

div div .actions a {
  width: 48%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h2 {
  margin: 0;
}

.box p {
  font-size: 16px;
  margin: 15px 0 40px;
}

.box img {
  display: block;
  margin-left: auto;
}

div div .actions a:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #444;
  opacity: 1;
  border-radius: 5px;
}

div div .actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

div div .actions a:active {
  color: gray;
}

@media only screen and (max-width: 600px) {  
  .container {
    width: 95vw!important;
  }
  
  header svg {
    width: 6vw;
    height: 6vw;
  }
  
  header img {
    display: none;
  }
  
  header .links {
    margin: 1vw auto;
    justify-content: center;
  }

  header .links svg {
    margin: 0 1vw;
  }

  header br {
    display: block;
  }

  div div .actions a {
    padding: 5px 34px;
  }

  header {
    margin: 5vw auto;
    text-align: center;
  }

  header p {
    font-size: 16px;
  }
  
  .box {
    width: 100%!important;
    margin: 5vw 1vw;
  }
}

.dark-mode {
  background-color: #1c1e21;
  color: whitesmoke !important;
}

.dark-mode .box {
  background-color: #444;
  color: whitesmoke !important;
}
.dark-mode a {
  /* background-color: #444; */
  color: whitesmoke !important;
}

.dark-mode .tags {
  color: #444;
}

.dark-mode chip {
  color: white;
}

.dark-mode chip:hover {
  color: #000;
}

.dark-mode #show {
  border-color: white;
  color: white;
}

.dark-mode #show:hover {
  background-color: white;
  color: #1c1e21;
}

.dark-mode header .fa-github {
  color: whitesmoke;
}

#toggle {
  cursor: pointer;
  transition: none !important;
}
